openapi: 3.0.0
info:
  title: Abuse Reports
  version: v1
  description: >
    This API provides ways to manage the abuse reports you might receive from
    Leaseweb. To use this API, please request access via your account manager
    and/or compliance officer. **LIMITED ACCESS**
  license:
    name: Apache 2.0
    url: http://developer.leaseweb.com
  x-logo:
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: https://developer.leaseweb.com
    url: https://developer.leaseweb.com/images/logo.png
servers:
  - url: https://api.leaseweb.com
tags:
  - description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call. The response will be JSON. Most APIs use the following
      format:


      ```json

      {
          "errorCode": "APP00800",
          "errorMessage": "The connection with the DB cannot be established.",
          "correlationId": "550e8400-e29b-41d4-a716-446655440000",
          "userMessage": "Cannot handle your request at the moment. Please try again later.",
          "reference": "https://developer.leaseweb.com/errors/APP00800"
      }

      ```
    name: Errors
    x-traitTag: true
  - description: >
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/).
    name: API Key Authentication
    x-traitTag: true
  - name: Abuse Notifications
  - name: Abuse Reports
paths:
  /abuse/v1/reports:
    $ref: paths/abuse_v1_reports.yaml
  /abuse/v1/reports/{reportId}:
    $ref: paths/abuse_v1_reports_{reportId}.yaml
  /abuse/v1/reports/{reportId}/messages:
    $ref: paths/abuse_v1_reports_{reportId}_messages.yaml
  /abuse/v1/reports/{reportId}/messageAttachments/{fileId}:
    $ref: paths/abuse_v1_reports_{reportId}_messageAttachments_{fileId}.yaml
  /abuse/v1/reports/{reportId}/reportAttachments/{fileId}:
    $ref: paths/abuse_v1_reports_{reportId}_reportAttachments_{fileId}.yaml
  /abuse/v1/reports/{reportId}/resolutions:
    $ref: paths/abuse_v1_reports_{reportId}_resolutions.yaml
  /abuse/v1/reports/{reportId}/resolve:
    $ref: paths/abuse_v1_reports_{reportId}_resolve.yaml
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      description: API key authentication by setting `X-LSW-Auth` header.
