{
  "openapi": "3.0.0",
  "info": {
    "title": "LeaseWeb API for launching and managing VPS",
    "version": "v1",
    "description": "> The base URL for this API is: **https://api.leaseweb.com/publicCloud/v1/**\n\nThis API provides ways to launch and manage VPS.\n\n<div class=\"badge\">BETA</div> This API is in BETA. Documentation might be incorrect or incomplete. Functionality might change with the final release.>",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "altText": "Leaseweb developer documentation",
      "backgroundColor": "#5484c6",
      "href": "https://developer.leaseweb.com",
      "url": "https://developer.leaseweb.com/images/logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com/publicCloud/v1"
    }
  ],
  "security": [
    {
      "X-LSW-Auth": []
    }
  ],
  "tags": [
    {
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:\n\n```json\n{\n    \"errorCode\": \"APP00800\",\n    \"errorMessage\": \"The connection with the DB cannot be established.\",\n    \"correlationId\": \"550e8400-e29b-41d4-a716-446655440000\",\n    \"userMessage\": \"Cannot handle your request at the moment. Please try again later.\",\n    \"reference\": \"https://developer.leaseweb.com/errors/APP00800\"\n}\n```\n",
      "name": "Errors",
      "x-traitTag": true
    },
    {
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\n\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).\n",
      "name": "API Key Authentication",
      "x-traitTag": true
    },
    {
      "name": "Power"
    },
    {
      "name": "Credentials"
    },
    {
      "name": "ISOs"
    },
    {
      "name": "Metrics"
    },
    {
      "name": "Snapshots"
    },
    {
      "name": "IPs"
    },
    {
      "name": "Reinstall"
    }
  ],
  "paths": {
    "/vps/{vpsId}/start": {
      "$ref": "paths/vps.{vpsId}.start.json"
    },
    "/vps/{vpsId}/stop": {
      "$ref": "paths/vps.{vpsId}.stop.json"
    },
    "/vps/{vpsId}/reboot": {
      "$ref": "paths/vps.{vpsId}.reboot.json"
    },
    "/vps/{vpsId}/console": {
      "$ref": "paths/vps.{vpsId}.console.json"
    },
    "/vps/{vpsId}/credentials": {
      "$ref": "paths/vps.{vpsId}.credentials.json"
    },
    "/vps/{vpsId}/credentials/{type}": {
      "$ref": "paths/vps.{vpsId}.credentials.{type}.json"
    },
    "/vps/{vpsId}/credentials/{type}/{username}": {
      "$ref": "paths/vps.{vpsId}.credentials.{type}.{username}.json"
    },
    "/vps/{vpsId}/resetPassword": {
      "$ref": "paths/vps.{vpsId}.resetPassword.json"
    },
    "/vps/{vpsId}/attachIso": {
      "$ref": "paths/vps.{vpsId}.attachIso.json"
    },
    "/vps/{vpsId}/detachIso": {
      "$ref": "paths/vps.{vpsId}.detachIso.json"
    },
    "/vps/{vpsId}/reinstall/images": {
      "$ref": "paths/vps.{vpsId}.reinstall.images.json"
    },
    "/vps/{vpsId}/reinstall": {
      "$ref": "paths/vps.{vpsId}.reinstall.json"
    },
    "/vps/{vpsId}/ips": {
      "$ref": "paths/vps.{vpsId}.ips.json"
    },
    "/vps/{vpsId}/ips/{ip}": {
      "$ref": "paths/vps.{vpsId}.ips.{ip}.json"
    },
    "/vps/{vpsId}/ips/{ip}/null": {
      "$ref": "paths/vps.{vpsId}.ips.{ip}.null.json"
    },
    "/vps/{vpsId}/ips/{ip}/unnull": {
      "$ref": "paths/vps.{vpsId}.ips.{ip}.unnull.json"
    },
    "/vps/{vpsId}/metrics/datatraffic": {
      "$ref": "paths/vps.{vpsId}.metrics.datatraffic.json"
    },
    "/vps/{vpsId}/snapshots": {
      "$ref": "paths/vps.{vpsId}.snapshots.json"
    },
    "/vps/{vpsId}/snapshots/{snapshotId}": {
      "$ref": "paths/vps.{vpsId}.snapshots.{snapshotId}.json"
    },
    "/vps": {
      "$ref": "paths/vps.json"
    },
    "/vps/{vpsId}": {
      "$ref": "paths/vps.{vpsId}.json"
    }
  },
  "components": {
    "securitySchemes": {
      "X-LSW-Auth": {
        "name": "X-LSW-Auth",
        "type": "apiKey",
        "in": "header",
        "description": "API key authentication by setting `X-LSW-Auth` header."
      }
    }
  }
}