{
  "openapi": "3.0.3",
  "info": {
    "version": "2.0.1",
    "title": "CDN APIs",
    "summary": "",
    "description": "> The base URL for this API is: **https://api.leaseweb.com/cdn/v2**",
    "x-logo": {
      "url": "https://developer.leaseweb.com/images/logo.png",
      "altText": "Leaseweb CDN API Documentation",
      "backgroundColor": "#5484c6",
      "href": "https://developer.leaseweb.com"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com/cdn/v2"
    }
  ],
  "security": [
    {}
  ],
  "tags": [
    {
      "name": "Errors",
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call.The response will be JSON. Most APIs use the following format:\n\n```\n{\n\"errorCode\" : \"APP00800\",\n\"errorMessage\" : \"The connection with the DB cannot be established.\",\n\"correlationId\" : \"550e8400-e29b-41d4-a716-446655440000\",\n\"userMessage\" : \"Cannot handle your request at the moment. Please try again later.\",\n\"reference\" : \"https://developer.leaseweb.com/errors/APP00800\"\n}\n```\n",
      "x-traitTag": true
    },
    {
      "name": "Authentication",
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\n\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).",
      "x-traitTag": true
    }
  ],
  "paths": {
    "/origins": {
      "$ref": "paths/origins.json"
    },
    "/origins/{origin_id}": {
      "$ref": "paths/origins.{origin_id}.json"
    },
    "/originGroups": {
      "$ref": "paths/originGroups.json"
    },
    "/originGroups/{origin_group_id}": {
      "$ref": "paths/originGroups.{origin_group_id}.json"
    },
    "/originGroups/{origin_group_id}/members": {
      "$ref": "paths/originGroups.{origin_group_id}.members.json"
    },
    "/originGroups/{origin_group_id}/members/{origin_group_member_id}": {
      "$ref": "paths/originGroups.{origin_group_id}.members.{origin_group_member_id}.json"
    },
    "/debug": {
      "$ref": "paths/debug.json"
    },
    "/invalidations": {
      "$ref": "paths/invalidations.json"
    },
    "/certificates": {
      "$ref": "paths/certificates.json"
    },
    "/certificates/{certificate_id}": {
      "$ref": "paths/certificates.{certificate_id}.json"
    },
    "/actions": {
      "$ref": "paths/actions.json"
    },
    "/actions/{action_id}": {
      "$ref": "paths/actions.{action_id}.json"
    },
    "/distributions": {
      "$ref": "paths/distributions.json"
    },
    "/distributions/{distribution_id}": {
      "$ref": "paths/distributions.{distribution_id}.json"
    },
    "/distributions/{distribution_id}/domains": {
      "$ref": "paths/distributions.{distribution_id}.domains.json"
    },
    "/distributions/{distribution_id}/domains/{domain_id}": {
      "$ref": "paths/distributions.{distribution_id}.domains.{domain_id}.json"
    },
    "/distributions/{distribution_id}/policies": {
      "$ref": "paths/distributions.{distribution_id}.policies.json"
    },
    "/distributions/{distribution_id}/policies/{policy_id}": {
      "$ref": "paths/distributions.{distribution_id}.policies.{policy_id}.json"
    },
    "/distributions/{distribution_id}/policies/{policy_id}/acls": {
      "$ref": "paths/distributions.{distribution_id}.policies.{policy_id}.acls.json"
    },
    "/distributions/{distribution_id}/policies/{policy_id}/acls/{acl_id}": {
      "$ref": "paths/distributions.{distribution_id}.policies.{policy_id}.acls.{acl_id}.json"
    },
    "/statistics/reseller": {
      "$ref": "paths/statistics.reseller.json"
    },
    "/statistics/reseller/totals": {
      "$ref": "paths/statistics.reseller.totals.json"
    },
    "/statistics/customer": {
      "$ref": "paths/statistics.customer.json"
    },
    "/statistics/customer/totals": {
      "$ref": "paths/statistics.customer.totals.json"
    }
  }
}