openapi: 3.1.0
info:
  version: 2.0.1
  title: CDN
  summary: ''
  description: '> The base URL for this API is: **https://api.leaseweb.com/cdn/v2**'
  license:
    name: Apache 2.0
    url: http://developer.leaseweb.com
  x-logo:
    url: https://developer.leaseweb.com/images/logo.png
    altText: Leaseweb CDN API Documentation
    backgroundColor: '#5484c6'
    href: https://developer.leaseweb.com
servers:
  - url: https://api.leaseweb.com
security:
  - X-LSW-Auth: []
tags:
  - name: Errors
    description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call.The response will be JSON. Most APIs use the following
      format:


      ```

      {

      "errorCode" : "APP00800",

      "errorMessage" : "The connection with the DB cannot be established.",

      "correlationId" : "550e8400-e29b-41d4-a716-446655440000",

      "userMessage" : "Cannot handle your request at the moment. Please try
      again later.",

      "reference" : "https://developer.leaseweb.com/errors/APP00800"

      }

      ```
    x-traitTag: true
  - name: Authentication
    description: >-
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/).
    x-traitTag: true
paths:
  /cdn/v2/origins:
    $ref: paths/cdn_v2_origins.yaml
  /cdn/v2/origins/{originId}:
    $ref: paths/cdn_v2_origins_{originId}.yaml
  /cdn/v2/origins/{originId}/resolve:
    $ref: paths/cdn_v2_origins_{originId}_resolve.yaml
  /cdn/v2/originGroups:
    $ref: paths/cdn_v2_originGroups.yaml
  /cdn/v2/originGroups/{originGroupId}:
    $ref: paths/cdn_v2_originGroups_{originGroupId}.yaml
  /cdn/v2/originGroups/{originGroupId}/members:
    $ref: paths/cdn_v2_originGroups_{originGroupId}_members.yaml
  /cdn/v2/originGroups/{originGroupId}/members/{originGroupMemberId}:
    $ref: >-
      paths/cdn_v2_originGroups_{originGroupId}_members_{originGroupMemberId}.yaml
  /cdn/v2/debug:
    $ref: paths/cdn_v2_debug.yaml
  /cdn/v2/invalidations:
    $ref: paths/cdn_v2_invalidations.yaml
  /cdn/v2/certificates:
    $ref: paths/cdn_v2_certificates.yaml
  /cdn/v2/certificates/{certificateId}:
    $ref: paths/cdn_v2_certificates_{certificateId}.yaml
  /cdn/v2/actions:
    $ref: paths/cdn_v2_actions.yaml
  /cdn/v2/actions/{actionId}:
    $ref: paths/cdn_v2_actions_{actionId}.yaml
  /cdn/v2/distributions:
    $ref: paths/cdn_v2_distributions.yaml
  /cdn/v2/distributions/{distributionId}:
    $ref: paths/cdn_v2_distributions_{distributionId}.yaml
  /cdn/v2/distributions/{distributionId}/push:
    $ref: paths/cdn_v2_distributions_{distributionId}_push.yaml
  /cdn/v2/distributions/{distributionId}/domains:
    $ref: paths/cdn_v2_distributions_{distributionId}_domains.yaml
  /cdn/v2/distributions/{distributionId}/domains/{domainId}:
    $ref: paths/cdn_v2_distributions_{distributionId}_domains_{domainId}.yaml
  /cdn/v2/distributions/{distributionId}/policies:
    $ref: paths/cdn_v2_distributions_{distributionId}_policies.yaml
  /cdn/v2/distributions/{distributionId}/policies/{policyId}:
    $ref: paths/cdn_v2_distributions_{distributionId}_policies_{policyId}.yaml
  /cdn/v2/policyTemplates:
    $ref: paths/cdn_v2_policyTemplates.yaml
  /cdn/v2/distributions/{distributionId}/policies/{policyId}/acls:
    $ref: paths/cdn_v2_distributions_{distributionId}_policies_{policyId}_acls.yaml
  /cdn/v2/distributions/{distributionId}/policies/{policyId}/acls/{aclId}:
    $ref: >-
      paths/cdn_v2_distributions_{distributionId}_policies_{policyId}_acls_{aclId}.yaml
  /cdn/v2/statistics/customer:
    $ref: paths/cdn_v2_statistics_customer.yaml
  /cdn/v2/statistics/customer/totals:
    $ref: paths/cdn_v2_statistics_customer_totals.yaml
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      description: API key authentication by setting `X-LSW-Auth` header.
