openapi: 3.0.0
info:
  title: Dedicated Racks
  version: v2
  description: '> The base URL for this API is: **https://api.leaseweb.com/bareMetals/v2/**'
  x-logo:
    url: /images/logo.png
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: http://developer.leaseweb.com
servers:
  - url: https://api.leaseweb.com
security:
  - X-LSW-Auth: []
tags:
  - name: Errors
    description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call. The response will be JSON. Most APIs use the following
      format:


      ```

      {

      "errorCode" : "APP00800",

      "errorMessage" : "The connection with the DB cannot be established.",

      "correlationId" : "550e8400-e29b-41d4-a716-446655440000",

      "userMessage" : "Cannot handle your request at the moment. Please try
      again later.",

      "reference" : "http://developer.leaseweb.com/errors/APP00800"

      }

      ```
    x-traitTag: true
  - name: Authentication
    description: >-
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/).
    x-traitTag: true
paths:
  /bareMetals/v2/privateRacks:
    $ref: paths/bareMetals_v2_privateRacks.yaml
  /bareMetals/v2/privateRacks/{privateRackId}:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/nullRouteHistory:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}_nullRouteHistory.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/ips:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}_ips.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/ips/{ip}:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}_ips_{ip}.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/ips/{ip}/null:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}_ips_{ip}_null.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/ips/{ip}/unnull:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}_ips_{ip}_unnull.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/credentials:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}_credentials.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/credentials/{type}:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}_credentials_{type}.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/credentials/{type}/{username}:
    $ref: >-
      paths/bareMetals_v2_privateRacks_{privateRackId}_credentials_{type}_{username}.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/metrics/datatraffic:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}_metrics_datatraffic.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/metrics/bandwidth:
    $ref: paths/bareMetals_v2_privateRacks_{privateRackId}_metrics_bandwidth.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/notificationSettings/ddos:
    $ref: >-
      paths/bareMetals_v2_privateRacks_{privateRackId}_notificationSettings_ddos.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/notificationSettings/bandwidth:
    $ref: >-
      paths/bareMetals_v2_privateRacks_{privateRackId}_notificationSettings_bandwidth.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/notificationSettings/bandwidth/{notificationId}:
    $ref: >-
      paths/bareMetals_v2_privateRacks_{privateRackId}_notificationSettings_bandwidth_{notificationId}.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/notificationSettings/datatraffic:
    $ref: >-
      paths/bareMetals_v2_privateRacks_{privateRackId}_notificationSettings_datatraffic.yaml
  /bareMetals/v2/privateRacks/{privateRackId}/notificationSettings/datatraffic/{notificationId}:
    $ref: >-
      paths/bareMetals_v2_privateRacks_{privateRackId}_notificationSettings_datatraffic_{notificationId}.yaml
components:
  securitySchemes:
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      example: 213423-2134234-234234-23424
      description: ''
    Leaseweb_OAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
