{
  "openapi": "3.0.3",
  "info": {
    "description": "> The base URL for this API is: **https://api.leaseweb.com/services/v1/**",
    "title": "LeaseWeb API for all Services",
    "version": "v1",
    "x-logo": {
      "altText": "Leaseweb developer documentation",
      "backgroundColor": "#5484c6",
      "href": "https://developer.leaseweb.com",
      "url": "/images/logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com/services/v1"
    }
  ],
  "security": [
    {
      "X-LSW-Auth": []
    }
  ],
  "tags": [
    {
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:\n\n```\n{\n\"errorCode\" : \"APP00800\",\n\"errorMessage\" : \"The connection with the DB cannot be established.\",\n\"correlationId\" : \"550e8400-e29b-41d4-a716-446655440000\",\n\"userMessage\" : \"Cannot handle your request at the moment. Please try again later.\"}\n```\n",
      "name": "Errors",
      "x-traitTag": true
    },
    {
      "name": "Authentication",
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\n\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/)",
      "x-traitTag": true
    }
  ],
  "paths": {
    "/services": {
      "$ref": "paths/services.json"
    },
    "/services/cancellationReasons": {
      "$ref": "paths/services.cancellationReasons.json"
    },
    "/services/{id}": {
      "$ref": "paths/services.{id}.json"
    },
    "/services/{id}/cancel": {
      "$ref": "paths/services.{id}.cancel.json"
    },
    "/services/{id}/uncancel": {
      "$ref": "paths/services.{id}.uncancel.json"
    }
  },
  "components": {
    "securitySchemes": {
      "X-LSW-Auth": {
        "name": "X-LSW-Auth",
        "type": "apiKey",
        "in": "header",
        "description": "API key authentication by setting `X-LSW-Auth` header."
      }
    }
  }
}