{
  "openapi": "3.0.3",
  "info": {
    "title": "Storage API",
    "version": "v1",
    "description": "> The base URL for this API is: **https://api.leaseweb.com/storage/v1**<br> <div class=\"badge\" style=\"margin-right: 0.5rem;\">BETA</div><div class=\"badge-red\">LIMITED ACCESS</div> To use this API, please request access via your account manager.\n",
    "x-logo": {
      "url": "/images/logo.png",
      "altText": "Leaseweb developer documentation",
      "backgroundColor": "#5484c6",
      "href": "http://developer.leaseweb.com"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com/storage/v1"
    }
  ],
  "security": [
    {
      "X-LSW-Auth": []
    }
  ],
  "tags": [
    {
      "name": "Errors",
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:\n\n```\n{\n\"errorCode\" : \"APP00800\",\n\"errorMessage\" : \"The connection with the DB cannot be established.\",\n\"correlationId\" : \"550e8400-e29b-41d4-a716-446655440000\",\n\"userMessage\" : \"Cannot handle your request at the moment. Please try again later.\",\n\"reference\" : \"http://developer.leaseweb.com/errors/APP00800\"\n}\n```\n",
      "x-traitTag": true
    },
    {
      "name": "Authentication",
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\n\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).",
      "x-traitTag": true
    }
  ],
  "paths": {
    "/storages": {
      "$ref": "paths/storages.json"
    },
    "/storageVMs": {
      "$ref": "paths/storageVMs.json"
    },
    "/storageVMs/{storageVMId}/volumes": {
      "$ref": "paths/storageVMs.{storageVMId}.volumes.json"
    },
    "/storageVMs/{storageVMId}/volumes/{volumeId}/grow": {
      "$ref": "paths/storageVMs.{storageVMId}.volumes.{volumeId}.grow.json"
    },
    "/storageVMs/{storageVMId}/jobs/{jobId}": {
      "$ref": "paths/storageVMs.{storageVMId}.jobs.{jobId}.json"
    }
  },
  "components": {
    "securitySchemes": {
      "X-LSW-Auth": {
        "name": "X-LSW-Auth",
        "type": "apiKey",
        "in": "header",
        "example": "213423-2134234-234234-23424",
        "description": ""
      }
    }
  }
}