openapi: 3.0.0
info:
  title: Acronis Backup
  version: v1
  description: |-
    The base URL for this API is: **https://api.leaseweb.com/backup/v1/**

    This API is used to manage Acronis Backup
  license:
    name: Apache 2.0
    url: http://developer.leaseweb.com
  x-logo:
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: https://developer.leaseweb.com
    url: https://developer.leaseweb.com/images/logo.png
servers:
  - url: https://api.leaseweb.com
tags:
  - description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call. The response will be JSON. Most APIs use the following
      format:


      ```json

      {
          "errorCode": "APP00800",
          "errorMessage": "The connection with the DB cannot be established.",
          "correlationId": "550e8400-e29b-41d4-a716-446655440000",
          "userMessage": "Cannot handle your request at the moment. Please try again later.",
          "reference": "https://developer.leaseweb.com/errors/APP00800"
      }

      ```
    name: Errors
    x-traitTag: true
  - description: >
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/).
    name: API Key Authentication
    x-traitTag: true
paths:
  /backup/v1/backup:
    $ref: paths/backup_v1_backup.yaml
  /backup/v1/backup/{equipmentId}:
    $ref: paths/backup_v1_backup_{equipmentId}.yaml
  /backup/v1/metrics/storage:
    $ref: paths/backup_v1_metrics_storage.yaml
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      description: API key authentication by setting `X-LSW-Auth` header.
