openapi: 3.0.0
info:
  contact:
    email: development-networkautomation@leaseweb.com
    name: Network Automation Team
  description: |-
    This is the description of the Dedicated Network Equipment API.

    The base url of this API is `https://api.leaseweb.com`.
  title: Dedicated Network Equipments
  version: v2
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: https://developer.leaseweb.com
    url: https://developer.leaseweb.com/images/logo.png
servers:
  - url: https://api.leaseweb.com
security:
  - X-LSW-Auth: []
tags:
  - description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call. The response will be JSON. Most APIs use the following
      format:


      ```json

      {
          "errorCode": "APP00800",
          "errorMessage": "The connection with the DB cannot be established.",
          "correlationId": "550e8400-e29b-41d4-a716-446655440000",
          "userMessage": "Cannot handle your request at the moment. Please try again later.",
          "reference": "https://developer.leaseweb.com/errors/APP00800"
      }

      ```
    name: Errors
    x-traitTag: true
  - description: >
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/).
    name: API Key Authentication
    x-traitTag: true
  - name: Getting Started
  - name: IPs
  - name: Credentials
  - name: Power
paths:
  /bareMetals/v2/networkEquipments:
    $ref: paths/bareMetals_v2_networkEquipments.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}:
    $ref: paths/bareMetals_v2_networkEquipments_{networkEquipmentId}.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/ips:
    $ref: paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_ips.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/ips/{ip}:
    $ref: paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_ips_{ip}.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/ips/{ip}/null:
    $ref: >-
      paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_ips_{ip}_null.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/ips/{ip}/unnull:
    $ref: >-
      paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_ips_{ip}_unnull.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/nullRouteHistory:
    $ref: >-
      paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_nullRouteHistory.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/credentials:
    $ref: >-
      paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_credentials.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/credentials/{type}:
    $ref: >-
      paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_credentials_{type}.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/credentials/{type}/{username}:
    $ref: >-
      paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_credentials_{type}_{username}.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/powerCycle:
    $ref: paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_powerCycle.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/powerInfo:
    $ref: paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_powerInfo.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/powerOff:
    $ref: paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_powerOff.yaml
  /bareMetals/v2/networkEquipments/{networkEquipmentId}/powerOn:
    $ref: paths/bareMetals_v2_networkEquipments_{networkEquipmentId}_powerOn.yaml
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      description: API key authentication by setting `X-LSW-Auth` header.
