{
  "openapi": "3.0.0",
  "info": {
    "title": "LeaseWeb API for IP address management",
    "version": "v2",
    "description": "> The base URL for this API is: **https://api.leaseweb.com/ipMgmt/v2/**",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "altText": "Leaseweb developer documentation",
      "backgroundColor": "#5484c6",
      "href": "https://developer.leaseweb.com",
      "url": "https://developer.leaseweb.com/images/logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com/ipMgmt/v2"
    }
  ],
  "security": [
    {
      "X-LSW-Auth": []
    }
  ],
  "tags": [
    {
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:\n\n```json\n{\n    \"errorCode\": \"APP00800\",\n    \"errorMessage\": \"The connection with the DB cannot be established.\",\n    \"correlationId\": \"550e8400-e29b-41d4-a716-446655440000\",\n    \"userMessage\": \"Cannot handle your request at the moment. Please try again later.\",\n    \"reference\": \"https://developer.leaseweb.com/errors/APP00800\"\n}\n```\n",
      "name": "Errors",
      "x-traitTag": true
    },
    {
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\n\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).\n",
      "name": "API Key Authentication",
      "x-traitTag": true
    }
  ],
  "paths": {
    "/ips": {
      "$ref": "paths/ips.json"
    },
    "/ips/{ip}": {
      "$ref": "paths/ips.{ip}.json"
    },
    "/ips/{ip}/reverseLookup": {
      "$ref": "paths/ips.{ip}.reverseLookup.json"
    },
    "/ips/{ip}/nullRoute": {
      "$ref": "paths/ips.{ip}.nullRoute.json"
    },
    "/nullRoutes": {
      "$ref": "paths/nullRoutes.json"
    },
    "/nullRoutes/{id}": {
      "$ref": "paths/nullRoutes.{id}.json"
    }
  },
  "components": {
    "securitySchemes": {
      "X-LSW-Auth": {
        "name": "X-LSW-Auth",
        "type": "apiKey",
        "in": "header",
        "description": "API key authentication by setting `X-LSW-Auth` header."
      }
    }
  }
}