{
  "openapi": "3.0.3",
  "info": {
    "title": "Bare Metal",
    "version": "v2",
    "description": "> The base URL for this API is: **https://api.leaseweb.com/bareMetals/v2/**",
    "x-logo": {
      "url": "/images/logo.png",
      "altText": "Leaseweb developer documentation",
      "backgroundColor": "#5484c6",
      "href": "http://developer.leaseweb.com"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com/bareMetals/v2"
    }
  ],
  "security": [
    {
      "X-LSW-Auth": []
    }
  ],
  "tags": [
    {
      "name": "Errors",
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:\n\n```\n{\n\"errorCode\" : \"APP00800\",\n\"errorMessage\" : \"The connection with the DB cannot be established.\",\n\"correlationId\" : \"550e8400-e29b-41d4-a716-446655440000\",\n\"userMessage\" : \"Cannot handle your request at the moment. Please try again later.\",\n\"reference\" : \"http://developer.leaseweb.com/errors/APP00800\"\n}\n```\n",
      "x-traitTag": true
    },
    {
      "name": "Authentication",
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\n\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).",
      "x-traitTag": true
    }
  ],
  "paths": {
    "/privateRacks": {
      "$ref": "paths/privateRacks.json"
    },
    "/privateRacks/{privateRackId}": {
      "$ref": "paths/privateRacks.{privateRackId}.json"
    },
    "/privateRacks/{privateRackId}/nullRouteHistory": {
      "$ref": "paths/privateRacks.{privateRackId}.nullRouteHistory.json"
    },
    "/privateRacks/{privateRackId}/ips": {
      "$ref": "paths/privateRacks.{privateRackId}.ips.json"
    },
    "/privateRacks/{privateRackId}/ips/{ip}": {
      "$ref": "paths/privateRacks.{privateRackId}.ips.{ip}.json"
    },
    "/privateRacks/{privateRackId}/ips/{ip}/null": {
      "$ref": "paths/privateRacks.{privateRackId}.ips.{ip}.null.json"
    },
    "/privateRacks/{privateRackId}/ips/{ip}/unnull": {
      "$ref": "paths/privateRacks.{privateRackId}.ips.{ip}.unnull.json"
    },
    "/privateRacks/{privateRackId}/credentials": {
      "$ref": "paths/privateRacks.{privateRackId}.credentials.json"
    },
    "/privateRacks/{privateRackId}/credentials/{type}": {
      "$ref": "paths/privateRacks.{privateRackId}.credentials.{type}.json"
    },
    "/privateRacks/{privateRackId}/credentials/{type}/{username}": {
      "$ref": "paths/privateRacks.{privateRackId}.credentials.{type}.{username}.json"
    },
    "/privateRacks/{privateRackId}/metrics/datatraffic": {
      "$ref": "paths/privateRacks.{privateRackId}.metrics.datatraffic.json"
    },
    "/privateRacks/{privateRackId}/metrics/bandwidth": {
      "$ref": "paths/privateRacks.{privateRackId}.metrics.bandwidth.json"
    },
    "/privateRacks/{privateRackId}/notificationSettings/ddos": {
      "$ref": "paths/privateRacks.{privateRackId}.notificationSettings.ddos.json"
    },
    "/privateRacks/{privateRackId}/notificationSettings/bandwidth": {
      "$ref": "paths/privateRacks.{privateRackId}.notificationSettings.bandwidth.json"
    },
    "/privateRacks/{privateRackId}/notificationSettings/bandwidth/{notificationId}": {
      "$ref": "paths/privateRacks.{privateRackId}.notificationSettings.bandwidth.{notificationId}.json"
    },
    "/privateRacks/{privateRackId}/notificationSettings/datatraffic": {
      "$ref": "paths/privateRacks.{privateRackId}.notificationSettings.datatraffic.json"
    },
    "/privateRacks/{privateRackId}/notificationSettings/datatraffic/{notificationId}": {
      "$ref": "paths/privateRacks.{privateRackId}.notificationSettings.datatraffic.{notificationId}.json"
    }
  },
  "components": {
    "securitySchemes": {
      "X-LSW-Auth": {
        "name": "X-LSW-Auth",
        "type": "apiKey",
        "in": "header",
        "example": "213423-2134234-234234-23424",
        "description": ""
      }
    }
  }
}