{
  "openapi": "3.0.0",
  "info": {
    "title": "AWS compatible Public Cloud API",
    "version": "v1",
    "description": "This is the AWS compatible Public Cloud API Reference. It provides descriptions, API request parameters, and the XML response for each of the API actions that Leaseweb supports.\n\nThe purpose of the AWS compatible Public Cloud API is to make the migration easy for the users to switch from the AWS EC2 to the Leaseweb Public Cloud APIs.\n\nNOTE: Since AWS EC2 and Public Cloud APIs are not 100% matched, Leaseweb hard-coded some request/response attributes, which you can see in schema definition.\n\nNOTE: This API is in BETA. Documentation might be incorrect or incomplete. Functionality might change with the final release. <div class=\"badge\">BETA</div>\n\n",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "altText": "Leaseweb developer documentation",
      "backgroundColor": "#5484c6",
      "href": "https://developer.leaseweb.com",
      "url": "https://developer.leaseweb.com/images/logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com/aws/ec2"
    }
  ],
  "tags": [
    {
      "name": "Errors",
      "description": "AWS compatible APIs have two types of error codes:\n\nClient errors: These errors are usually caused by something the client did, such as specifying an incorrect or invalid parameter in the request, or using an action or resource on behalf of a user that doesn't have permission to use the action or resource. These errors are accompanied by a 400-series HTTP response code.\n\nServer errors: These errors are usually caused by an AWS compatible APIs server-side issue. These errors are accompanied by a 500-series HTTP response code.\n\n```xml\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Errors>\n        <Error>\n            <Code>ERROR CODE 1</Code>\n            <Message>ERROR MESSAGE 1</Message>\n        </Error>\n        <Error>\n            <Code>ERROR CODE 2</Code>\n            <Message>ERROR MESSAGE 2</Message>\n        </Error>\n    </Errors>\n    <RequestID>REQUEST ID</RequestID>\n</Response>\n```\n"
    }
  ],
  "paths": {
    "/?Action=DescribeInstances": {
      "$ref": "paths/?Action=DescribeInstances.json"
    },
    "/?Action=RunInstances": {
      "$ref": "paths/?Action=RunInstances.json"
    },
    "/?Action=StartInstances": {
      "$ref": "paths/?Action=StartInstances.json"
    },
    "/?Action=StopInstances": {
      "$ref": "paths/?Action=StopInstances.json"
    },
    "/?Action=RebootInstances": {
      "$ref": "paths/?Action=RebootInstances.json"
    },
    "/?Action=CreateLoadBalancer": {
      "$ref": "paths/?Action=CreateLoadBalancer.json"
    },
    "/?Action=DescribeLoadBalancers": {
      "$ref": "paths/?Action=DescribeLoadBalancers.json"
    },
    "/?Action=RegisterTargets": {
      "$ref": "paths/?Action=RegisterTargets.json"
    },
    "/?Action=CreateListener": {
      "$ref": "paths/?Action=CreateListener.json"
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "name": "Authorization",
        "type": "apiKey",
        "in": "header",
        "description": "API key authentication by setting `Authorization` header."
      }
    }
  }
}