openapi: 3.0.0
info:
  contact: {}
  description: '> The base URL for this API is: **https://api.leaseweb.com/services/v1/**'
  title: Services
  version: v1
  x-logo:
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: https://developer.leaseweb.com
    url: /images/logo.png
servers:
  - url: https://api.leaseweb.com
security:
  - X-LSW-Auth: []
tags:
  - description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call. The response will be JSON. Most APIs use the following
      format:


      ```

      {

      "errorCode" : "APP00800",

      "errorMessage" : "The connection with the DB cannot be established.",

      "correlationId" : "550e8400-e29b-41d4-a716-446655440000",

      "userMessage" : "Cannot handle your request at the moment. Please try
      again later."}

      ```
    name: Errors
    x-traitTag: true
  - name: Authentication
    description: >-
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/)
    x-traitTag: true
paths:
  /services/v1/services:
    $ref: paths/services_v1_services.yaml
  /services/v1/services/cancellationReasons:
    $ref: paths/services_v1_services_cancellationReasons.yaml
  /services/v1/services/{id}:
    $ref: paths/services_v1_services_{id}.yaml
  /services/v1/services/{id}/cancel:
    $ref: paths/services_v1_services_{id}_cancel.yaml
  /services/v1/services/{id}/uncancel:
    $ref: paths/services_v1_services_{id}_uncancel.yaml
components:
  securitySchemes:
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      description: API key authentication by setting `X-LSW-Auth` header.
