openapi: 3.0.0
info:
  title: Floating IPs
  version: v2
  description: '> The base URL for this API is: **https://api.leaseweb.com/floatingIps/v2/**'
  x-logo:
    url: /images/logo.png
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: http://developer.leaseweb.com
servers:
  - url: https://api.leaseweb.com
security:
  - X-LSW-Auth: []
tags:
  - name: Errors
    description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call. The response will be JSON. Most APIs use the following
      format:


      ```

      {

      "errorCode" : "APP00800",

      "errorMessage" : "The connection with the DB cannot be established.",

      "correlationId" : "550e8400-e29b-41d4-a716-446655440000",

      "userMessage" : "Cannot handle your request at the moment. Please try
      again later.",

      "reference" : "http://developer.leaseweb.com/errors/APP00800"

      }

      ```
    x-traitTag: true
  - name: Authentication
    description: >-
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/).
    x-traitTag: true
  - name: Floating IP ranges
    description: Create and manage your Floating IP ranges and definitions
paths:
  /floatingIps/v2/ranges:
    $ref: paths/floatingIps_v2_ranges.yaml
  /floatingIps/v2/ranges/{rangeId}:
    $ref: paths/floatingIps_v2_ranges_{rangeId}.yaml
  /floatingIps/v2/ranges/{rangeId}/floatingIpDefinitions:
    $ref: paths/floatingIps_v2_ranges_{rangeId}_floatingIpDefinitions.yaml
  /floatingIps/v2/ranges/{rangeId}/floatingIpDefinitions/{floatingIpDefinitionId}:
    $ref: >-
      paths/floatingIps_v2_ranges_{rangeId}_floatingIpDefinitions_{floatingIpDefinitionId}.yaml
  /floatingIps/v2/ranges/{rangeId}/floatingIpDefinitions/{floatingIpDefinitionId}/toggleAnchorIp:
    $ref: >-
      paths/floatingIps_v2_ranges_{rangeId}_floatingIpDefinitions_{floatingIpDefinitionId}_toggleAnchorIp.yaml
components:
  securitySchemes:
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      example: 213423-2134234-234234-23424
      description: ''
    Leaseweb_OAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
