openapi: 3.0.0
info:
  title: IP management
  version: v2
  description: '> The base URL for this API is: **https://api.leaseweb.com/ipMgmt/v2/**'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: https://developer.leaseweb.com
    url: https://developer.leaseweb.com/images/logo.png
servers:
  - url: https://api.leaseweb.com
security:
  - X-LSW-Auth: []
tags:
  - description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call. The response will be JSON. Most APIs use the following
      format:


      ```json

      {
          "errorCode": "APP00800",
          "errorMessage": "The connection with the DB cannot be established.",
          "correlationId": "550e8400-e29b-41d4-a716-446655440000",
          "userMessage": "Cannot handle your request at the moment. Please try again later.",
          "reference": "https://developer.leaseweb.com/errors/APP00800"
      }

      ```
    name: Errors
    x-traitTag: true
  - description: >
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/).
    name: API Key Authentication
    x-traitTag: true
paths:
  /ipMgmt/v2/ips:
    $ref: paths/ipMgmt_v2_ips.yaml
  /ipMgmt/v2/ips/{ip}:
    $ref: paths/ipMgmt_v2_ips_{ip}.yaml
  /ipMgmt/v2/ips/{ip}/reverseLookup:
    $ref: paths/ipMgmt_v2_ips_{ip}_reverseLookup.yaml
  /ipMgmt/v2/ips/{ip}/nullRoute:
    $ref: paths/ipMgmt_v2_ips_{ip}_nullRoute.yaml
  /ipMgmt/v2/nullRoutes:
    $ref: paths/ipMgmt_v2_nullRoutes.yaml
  /ipMgmt/v2/nullRoutes/{id}:
    $ref: paths/ipMgmt_v2_nullRoutes_{id}.yaml
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      description: API key authentication by setting `X-LSW-Auth` header.
