openapi: 3.0.0
info:
  title: Storage
  version: v1
  description: >
    > The base URL for this API is: **https://api.leaseweb.com/storage/v1**<br>
    <div class="badge" style="margin-right: 0.5rem;">BETA</div><div
    class="badge-red">LIMITED ACCESS</div> To use this API, please request
    access via your account manager.
  x-logo:
    url: /images/logo.png
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: http://developer.leaseweb.com
servers:
  - url: https://api.leaseweb.com
security:
  - X-LSW-Auth: []
tags:
  - name: Errors
    description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call. The response will be JSON. Most APIs use the following
      format:


      ```

      {

      "errorCode" : "APP00800",

      "errorMessage" : "The connection with the DB cannot be established.",

      "correlationId" : "550e8400-e29b-41d4-a716-446655440000",

      "userMessage" : "Cannot handle your request at the moment. Please try
      again later.",

      "reference" : "http://developer.leaseweb.com/errors/APP00800"

      }

      ```
    x-traitTag: true
  - name: Authentication
    description: >-
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/).
    x-traitTag: true
paths:
  /storage/v1/storages:
    $ref: paths/storage_v1_storages.yaml
  /storage/v1/storageVMs:
    $ref: paths/storage_v1_storageVMs.yaml
  /storage/v1/storageVMs/{storageVMId}/volumes:
    $ref: paths/storage_v1_storageVMs_{storageVMId}_volumes.yaml
  /storage/v1/storageVMs/{storageVMId}/volumes/{volumeId}/grow:
    $ref: paths/storage_v1_storageVMs_{storageVMId}_volumes_{volumeId}_grow.yaml
  /storage/v1/storageVMs/{storageVMId}/jobs/{jobId}:
    $ref: paths/storage_v1_storageVMs_{storageVMId}_jobs_{jobId}.yaml
components:
  securitySchemes:
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      example: 213423-2134234-234234-23424
      description: ''
    Leaseweb_OAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
