{
  "openapi": "3.0.3",
  "info": {
    "title": "Private Clouds API",
    "version": "v2",
    "description": "> The base URL for this API is: **https://api.leaseweb.com/cloud/v2/**",
    "x-logo": {
      "url": "/images/logo.png",
      "altText": "Leaseweb developer documentation",
      "backgroundColor": "#5484c6",
      "href": "http://developer.leaseweb.com"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com/cloud/v2"
    }
  ],
  "security": [
    {
      "X-LSW-Auth": []
    }
  ],
  "tags": [
    {
      "name": "Errors",
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:\n\n```\n{\n\"errorCode\" : \"APP00800\",\n\"errorMessage\" : \"The connection with the DB cannot be established.\",\n\"correlationId\" : \"550e8400-e29b-41d4-a716-446655440000\",\n\"userMessage\" : \"Cannot handle your request at the moment. Please try again later.\",\n\"reference\" : \"http://developer.leaseweb.com/errors/APP00800\"\n}\n```\n",
      "x-traitTag": true
    },
    {
      "name": "Authentication",
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\n\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).",
      "x-traitTag": true
    }
  ],
  "paths": {
    "/privateClouds": {
      "$ref": "paths/privateClouds.json"
    },
    "/privateClouds/{privateCloudId}": {
      "$ref": "paths/privateClouds.{privateCloudId}.json"
    },
    "/privateClouds/{privateCloudId}/credentials/{credentialType}": {
      "$ref": "paths/privateClouds.{privateCloudId}.credentials.{credentialType}.json"
    },
    "/privateClouds/{privateCloudId}/credentials/{credentialType}/{username}": {
      "$ref": "paths/privateClouds.{privateCloudId}.credentials.{credentialType}.{username}.json"
    },
    "/privateClouds/{[privateCloudId}/metrics/datatraffic": {
      "$ref": "paths/privateClouds.{[privateCloudId}.metrics.datatraffic.json"
    },
    "/privateClouds/{privateCloudId}/metrics/bandwidth": {
      "$ref": "paths/privateClouds.{privateCloudId}.metrics.bandwidth.json"
    },
    "/privateClouds/{privateCloudId}/metrics/cpu": {
      "$ref": "paths/privateClouds.{privateCloudId}.metrics.cpu.json"
    },
    "/privateClouds/{privateCloudId}/metrics/memory": {
      "$ref": "paths/privateClouds.{privateCloudId}.metrics.memory.json"
    },
    "/privateClouds/{privateCloudId}/metrics/storage": {
      "$ref": "paths/privateClouds.{privateCloudId}.metrics.storage.json"
    }
  },
  "components": {
    "securitySchemes": {
      "X-LSW-Auth": {
        "name": "X-LSW-Auth",
        "type": "apiKey",
        "in": "header",
        "example": "213423-2134234-234234-23424",
        "description": ""
      }
    }
  }
}