{
  "openapi": "3.0.0",
  "info": {
    "title": "Leaseweb API for Abuse Handling",
    "version": "v1",
    "description": "This API provides ways to manage the abuse reports you might receive from Leaseweb. To use this API, please request access via your account manager and/or compliance officer. **LIMITED ACCESS**\n",
    "license": {
      "name": "Apache 2.0",
      "url": "http://developer.leaseweb.com"
    },
    "x-logo": {
      "altText": "Leaseweb developer documentation",
      "backgroundColor": "#5484c6",
      "href": "https://developer.leaseweb.com",
      "url": "https://developer.leaseweb.com/images/logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com/abuse/v1"
    }
  ],
  "tags": [
    {
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:\n\n```json\n{\n    \"errorCode\": \"APP00800\",\n    \"errorMessage\": \"The connection with the DB cannot be established.\",\n    \"correlationId\": \"550e8400-e29b-41d4-a716-446655440000\",\n    \"userMessage\": \"Cannot handle your request at the moment. Please try again later.\",\n    \"reference\": \"https://developer.leaseweb.com/errors/APP00800\"\n}\n```\n",
      "name": "Errors",
      "x-traitTag": true
    },
    {
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\n\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).\n",
      "name": "API Key Authentication",
      "x-traitTag": true
    },
    {
      "description": "",
      "name": "Abuse Reports"
    }
  ],
  "paths": {
    "/reports": {
      "$ref": "paths/reports.json"
    },
    "/reports/{reportId}": {
      "$ref": "paths/reports.{reportId}.json"
    },
    "/reports/{reportId}/messages": {
      "$ref": "paths/reports.{reportId}.messages.json"
    },
    "/reports/{reportId}/messageAttachments/{fileId}": {
      "$ref": "paths/reports.{reportId}.messageAttachments.{fileId}.json"
    },
    "/reports/{reportId}/reportAttachments/{fileId}": {
      "$ref": "paths/reports.{reportId}.reportAttachments.{fileId}.json"
    },
    "/reports/{reportId}/resolutions": {
      "$ref": "paths/reports.{reportId}.resolutions.json"
    },
    "/reports/{reportId}/resolve": {
      "$ref": "paths/reports.{reportId}.resolve.json"
    }
  },
  "components": {
    "securitySchemes": {
      "X-LSW-Auth": {
        "name": "X-LSW-Auth",
        "type": "apiKey",
        "in": "header",
        "description": "API key authentication by setting `X-LSW-Auth` header."
      }
    }
  }
}