openapi: 3.0.0
info:
  title: Object Storage
  version: v1
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  description: >
    > The base URL for this API is: **https://api.leaseweb.com**<br> <div
    class="badge" style="margin-right: 0.5rem;">BETA</div><div
    class="badge-red">LIMITED ACCESS</div> To use this API, please request
    access via your account manager.
  x-logo:
    url: /images/logo.png
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: http://developer.leaseweb.com
servers:
  - url: https://api.leaseweb.com
security:
  - X-LSW-Auth: []
tags:
  - name: Errors
    description: >
      The API uses standard HTTP status codes to indicate the success or failure
      of the API call. The response will be JSON. Most APIs use the following
      format:


      ```

      {

      "errorCode" : "APP00800",

      "errorMessage" : "The connection with the DB cannot be established.",

      "correlationId" : "550e8400-e29b-41d4-a716-446655440000",

      "userMessage" : "Cannot handle your request at the moment. Please try
      again later.",

      "reference" : "http://developer.leaseweb.com/errors/APP00800"

      }

      ```
    x-traitTag: true
  - name: Authentication
    description: >-
      Authentication for the APIs is required. To authenticate your call, you
      will need to sent your API key as `X-LSW-Auth` header.


      You can generate API keys in the [Customer
      Portal](https://secure.leaseweb.com/api-client-management/).
    x-traitTag: true
  - name: Object Storage
    description: >-
      Manage Object Storage resources including buckets, users, groups, access
      keys, and credentials.
paths:
  /objectStorage/v1/objectStorages:
    $ref: paths/objectStorage_v1_objectStorages.yaml
  /objectStorage/v1/objectStorages/{objectStorageId}/users:
    $ref: paths/objectStorage_v1_objectStorages_{objectStorageId}_users.yaml
  /objectStorage/v1/objectStorages/{objectStorageId}/users/{userId}:
    $ref: >-
      paths/objectStorage_v1_objectStorages_{objectStorageId}_users_{userId}.yaml
  /objectStorage/v1/objectStorages/{objectStorageId}/users/{userId}/accessKeys:
    $ref: >-
      paths/objectStorage_v1_objectStorages_{objectStorageId}_users_{userId}_accessKeys.yaml
  /objectStorage/v1/objectStorages/{objectStorageId}/users/{userId}/accessKeys/{accessKeyId}:
    $ref: >-
      paths/objectStorage_v1_objectStorages_{objectStorageId}_users_{userId}_accessKeys_{accessKeyId}.yaml
  /objectStorage/v1/objectStorages/{objectStorageId}/groups:
    $ref: paths/objectStorage_v1_objectStorages_{objectStorageId}_groups.yaml
  /objectStorage/v1/objectStorages/{objectStorageId}/groups/{groupId}:
    $ref: >-
      paths/objectStorage_v1_objectStorages_{objectStorageId}_groups_{groupId}.yaml
  /objectStorage/v1/objectStorages/{objectStorageId}/buckets:
    $ref: paths/objectStorage_v1_objectStorages_{objectStorageId}_buckets.yaml
  /objectStorage/v1/objectStorages/{objectStorageId}/buckets/{bucketName}:
    $ref: >-
      paths/objectStorage_v1_objectStorages_{objectStorageId}_buckets_{bucketName}.yaml
components:
  securitySchemes:
    X-LSW-Auth:
      name: X-LSW-Auth
      type: apiKey
      in: header
      description: API key authentication by setting `X-LSW-Auth` header.
